---
import Page from "../layouts/Page.astro";
---

<Page title="Journal">
    <main class="bg-white p-6 mt-6 w-[80vw] mx-auto border border-gray-500 shadow-xl shadow-black/40 rounded-xl">
        <div class="prose">
            <h1 class="">Contact</h1>
            contact@dezmondfinney.com
        </div>
    </main>
</Page>

<style>
</style>
