---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/logo.svelte";
---

<Layout title="Dez & Stuff">
  <main class="">
    <div class="">
      <div class="flex border">
        <!-- Headers -->
        <div class="flex border">
          <!-- Logo -->
          <div class="border min-w-16">
            <Logo />
          </div>

          <!-- Header Group -->
          <hgroup class="flex-1 px-6">
            <h1 class="title font-bold text-[#88a65e]">Dez Finney</h1>
            <h2 class="text-[#88a65e] pb-2">i make stuff</h2>
          </hgroup>
        </div>

        <!-- Menu -->
        <ul class="flex items-center justify-between">
          <li><a class="px-4" href="/">Home</a></li>
          <li><a class="px-4" href="/journal">Journal</a></li>
          <li><a class="px-4" href="/work">My Work</a></li>
          <li><a class="px-4" href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </main>
</Layout>
