---
import Page from "../layouts/Page.astro";
const allPosts = await Astro.glob("../pages/posts/*.mdx");
---

<Page title="Journal">
  <main
    class="bg-white p-6 mt-6 w-[80vw] mx-auto border border-gray-500 shadow-xl shadow-black/40 rounded-xl"
  >
    <div class="text-slate-500 prose-slate text-center">
      <h1 class="text-6xl p-6">My Journal</h1>
      <h2 class="text-4xl">Coming Soon</h2>
    </div>
  </main>
</Page>

<style></style>
