---
import Page from "../layouts/Page.astro";
const allPosts = await Astro.glob("../pages/posts/*.mdx");

function formatDate(dateString) {
  const date = new Date(dateString);
  const options = {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return date.toLocaleDateString("en-US", options);
}
---

<Page title="Journal">
  <main
    class="bg-white p-6 mt-6 w-[80vw] mx-auto border border-gray-500 shadow-xl shadow-black/40 rounded-xl"
  >
    <div class="">
      <h1 class="text-6xl py-6 text-center font-bold text-[#88a65e] ">My Journal</h1>
      <ul class="@container flex flex-wrap">
        {
          allPosts.map((post) => (
            <li class=" @2xl:w-1/2 w-full p-2">
              <a
                href={post.url}
                class="flex flex-col border p-6 justify-between rounded-xl shadow-xl shadow-black/40 h-full"
              >
                <div class="relative w-full h-0 pb-[56.25%] overflow-hidden flex items-center justify-center aspect-square">
                  <img class="absolute top-0 left-0 object-cover w-full h-full" src={post.frontmatter.image.url} alt="" />
                </div>
                <div class="flex-2 text-2xl text-[#88a65e]">{post.frontmatter.title}</div>
                <div class="flex-1 italic">{formatDate(post.frontmatter.pubDate)}</div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </main>

  <style></style>
</Page>
