---
import Page from "../layouts/Page.astro";

const allWork = await Astro.glob('../pages/work/*.mdx');
---

<Page title="Work">
    <main class="bg-white p-6 mt-6 w-[80vw] mx-auto border border-gray-500 shadow-xl shadow-black/40 rounded-xl">
        <div class="prose">
            <h1 class="">Work</h1>
        </div>
        <ul class="flex">
          {allWork.map((work) => {
            return (
              <li>
                <a class="block m-10 h-80 w-80 border" href={work.url}>{work.frontmatter.title}</a>
              </li>
            );})}
        </ul>

    </main>
</Page>

<style>
</style>
