---
import Page from "../layouts/Page.astro";

const allWork = await Astro.glob('../pages/work/*.mdx');
---

<Page title="Work">
    <main class="bg-white p-6 mt-6 w-[80vw] mx-auto border border-gray-500 shadow-xl shadow-black/40 rounded-xl">
        <div class="text-slate-500 prose-slate text-center">
          <h1 class="text-6xl p-6">My Work</h1>
          <h2 class="text-4xl">Coming Soon</h3>
        </div>
    </main>
</Page>

<style>
</style>
