---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50 min-h-screen">
    <header>
      <ul
        class="nav-links flex justify-around min-w-full border-t text-[#88a65e] bg-white border-b border-gray-700"
      >

        <li><a href="/">Home</a></li>
        <li><a href="/journal">Journal</a></li>
        <li><a href="/work">My Work</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </header>
    <slot />
  </body>
</html>
